
#Used to manipulate paths's files (load files)
imutils==0.5.3

#Used to manipulate Arrays and matrix
numpy==1.18.0

#opencv-python==4.5.5.62
#sklearn==0.0
#Pillow==7.1.2

#Used as core Framework
tensorflow==2.2.1

#Lib used to plot a few graphs
matplotlib==3.3.2

#pydot==1.4.1
#seaborn==0.11.2